# Name of the workflow
name: "Release"
# Run on every commit on the "master" branch
on:
  push:
    branches:
      - "main"

# Automatically create a GitHub Release, with release details specified (the relevant commits)
jobs:
  release:
    name: "Release"
    runs-on: "ubuntu-latest"
    steps:
      # ...
      - name: "Build & test"
        run: |
          echo "done!"

      - uses: "ChristosDragios/terraform-aws-iam-role@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: v${{ env.RELEASE_VERSION }}
          prerelease: false
          title: "Development Build"
          files: |
            LICENSE.txt
            *.tf